@page
@model Sistema.App.Frontend.Pages.Municipios.ListMunicipioModel
@{
}

<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<h1>Listado de Municipios</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo municipio</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach(var municipio in Model.municipios)
        {
            <tr>
                <th>@municipio.Nombre</th>
                
                <td>
                    <a class="btn btn-primary" asp-page="./ListMunicipioDetails" asp-route-id="@municipio.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@municipio.Id">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>