@page
@model Sistema.App.Frontend.Pages.ListDirectorTecnicoEditModel
@{
}
<h2>Edición de director técnico :</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="directorTecnico.Id"></label>
        <input asp-for="directorTecnico.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Nombre"></label>
        <input asp-for="directorTecnico.Nombre" class= "form-control">
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Apellido"></label>
        <input asp-for="directorTecnico.Apellido" class= "form-control">
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Documento"></label>
        <input asp-for="directorTecnico.Documento" class= "form-control">
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Telefono"></label>
        <input asp-for="directorTecnico.Telefono" class= "form-control">
    </div>
    <button type="submit" class="btn btn-primary">Editar Director Técnico</button>
</form>
<a asp-page="./ListDirectorTecnico" class="btn btn-primary">Volver</a>
